@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Zapewnia, że wysokość html i body jest ustawiona na 100% */
}

html,
body {
  @apply h-full;
}

.text-shadow {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
